

.sidebar{

    background-color: #212121;
}

.scroll{

    overflow-y: scroll;
}

.botonera{

    margin: 10% 9% 10% 9%;
}

.btn{

    padding: 10px 20px 10px 20px;
    margin-top:10px;
    background-color: transparent;
    background-image: linear-gradient(to right top, #ff6660, #2d2ce5);
    border: 0px solid rgba(255, 0, 0, 0);
    color:white !important;
    font-weight: 700;
}

.actualizar{

    margin-top: 55px;
    width: 84%;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    background-image: linear-gradient(to right top, #1fda19, #2d2ce5);
    border: 0px solid rgba(255, 0, 0, 0);
    font-family: "Montserrat Alternates";
    color:white;
    font-weight: 700;
    border-radius: 5px;
}

.form-group{

    margin-bottom: 3px !important;
}

.bg-grey{

    background-color: rgb(175, 175, 175);
    padding: 10px;
    padding-top: 15px !important;
}

.bg-grey input{

    font-size: 13px;
    font-family: "Rubik";
    font-weight: 600px !important;
}


.btn-agregar{

    padding: 11px 20px 10px 20px;
    margin-top:27px;
    background-color: transparent;
    background-image: linear-gradient(to right top, #15bfdd, #c912da);
    border: 0px solid rgba(255, 0, 0, 0);
    color:white;
    font-weight: 700;


}

.modal-dialog{

    margin: 70px auto ;
   
}



.imginput{

    background-color: white; 
    padding: 70px 1px 98px 5px;
    width: 100%; 
    border-radius: 6px; 
    height: 70px;
    margin-bottom: 3px;
}

.form-control {

    font-weight: 700 !important;
    color: #212529;
}

.img {

    height: 200px !important;
    width: 155px !important;
    margin:0 auto;
}


.owl-stage{

  display: flex !important;
}

.owl-stage-outer{

  overflow: hidden !important;
}

.col-carousel {
	margin: 30px 0;
}

/* owl nav */
.owl-prev span, .owl-next span {
	color: #FFF;
}

.owl-prev span:hover, 
.owl-next span:hover {
	color: #8199A3;
}

.owl-prev, .owl-next {
	position: absolute;
	top: 0;
	height: 100%;
}

.owl-prev {
	left: 7px;
}

.owl-next {
	right: 7px;
}

/* removing blue outline from buttons */
button:focus, button:active {
   outline: none;
}


h5{

  font-family: Rubik;
  font-size: 18px;

}

.btn-ubi{

  font-family: Rubik;
  background-color: white;
  border: 3px solid black;
  padding : 9px;
  border-radius: 9px;
  font-size: 12px;
  margin: 0 auto;

}

.bg-gris{


    padding: 4px;
    background-color: red;
}

.inline{

    display: inline-block;
    width: 35px;
    border-radius: 5px;
}


.diaevento{

    background-color: #8199A3;
    font-size: 15px;
    padding: 5px;
    margin: 0 auto;
    color:white ;
    font-family: Rubik;
    border-radius: 10px;
    margin-bottom: 10px;
}


.nombrelugar{

    margin-bottom: 10px;
}


.descripcionproduct{

    height: 31px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.card{

    height: 390px !important;
    width: 169px !important;
    border-radius: 7px;
    background-color: rgba(154, 203, 231, 0.219);
    margin: 4px;
    background-image: linear-gradient(to right top, #ff6660, #2d2ce5);
    color:white;
    border:none;
    text-transform: capitalize;
}

.modal-backdrop {
    position: initial !important;
}


.modal-backdrop
{
    opacity:1 !important;
}

.modal{

    background-color: rgba(0, 0, 0, 0.89) !important;
}

.card-photo{

    height: 169px !important;
    width: 178px !important;
    background-color: white;
    margin-bottom: 3px;
    border-radius: 8px;
    margin: 0 auto;
}

.col-carousel {
    margin: 3px 0 !important;
    margin-bottom: 13px !important;
}

.volveratras{

    padding: 7px;
    border: 13px;
    border-radius: 50px;
}


.image-box-2{

    margin: 0 auto;
}

.modal-footer-edit{

    padding: 10px;
}

#updateUser{

    padding: 20px;
    background-color: aliceblue;
}

.botoncambiar{

    border: none;
    background: linear-gradient(90deg,#57A6FF,#E153FF);
    border-radius: 8px;
    font-size: 12px;
    
}

.file-upload{

    margin-bottom: 4px;
}

.device{

    padding: 7px;
    border: none;
    background-color: #ff000000;
    border-radius: 50%;

}


.device:hover{

    color: blue;
    background-image: linear-gradient(160deg, #cb24798a 37%, #127fb38c 50%);

}




  .cards-wrapper {
    display: flex;
  }


  .visually-hidden{

    display:none;
  }

  


  .img{

    width: 150px !important;
    height: 182px !important;
    margin: 0 auto;
    margin-top: 9px;
    background-color: white;
  }

  .carousel-control-prev {
    background-color: #f0f8ff00 !important;
    border: none;
    position: absolute;
    top:14px;
    left: -55px;
}

.carousel-control-next {
    background-color: #f0f8ff00 !important;
    border: none;
    top: 14px !important;
    position: absolute;
    right: -56px;
}

.modal-body-edit{

    font-family: Rubik;
}

.btn-edit{

    border-radius: 5px;
    padding: 6px;
    border:none;
}

.cantidadregalos{

    font-size: 19px;
}

.card-description{

    text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-family: Rubik;
      letter-spacing: 1px;
}

.card-body{

    padding: 10px 7px 2px 7px !important;
}

.card-precio{

    font-weight: 800;
    font-family: Rubik;
    letter-spacing: 1px;
}

.btn-link{

    padding: 3px 26px 4px 31px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 6px;
}

.delete-edit{

    margin-bottom: 7px;
}


.modal-content{


}

.card-galery {
    height: 200px !important;
    width: 169px !important;
    border-radius: 7px;
    background-color: rgba(154, 203, 231, 0.219);
    margin: 4px;
    background-color: white;
    color: white;
    border: none;
    text-transform: capitalize;
}

.card-padrino {
    height: 301px !important;
    width: 169px !important;
    border-radius: 7px;
    background-image: linear-gradient(to right top, #ff6660, #2d2ce5);
    margin: 4px;
    background-color: white;
    color: white;
    border: none;
    text-transform: capitalize;
}

.color-col{

    background-color: #d7b7a2bf;
}


.modal-header{
    text-align: end !important;
    display: block !important;
}


.text-danger{

    font-size: 12px !important;
}